/* variable */

@c_gray: #585657;
@c_gray_light: #f0f0f0;

@desktop: ~"(min-width: 1220px)";
@desktop_xl: ~"(min-width: 1220px) and (max-width: 1399px) ";
@desktop_xxl: ~"(min-width: 1400px) ";
@screen: ~"(max-width: 1219px) and (min-width: 970px)";
@tablet: ~"(max-width: 969px) and (min-width: 770px)";
@mobile: ~"(max-width: 769px)";

/* text */

a, span, p{
  color: @c_gray;
  font-size: 14px;
  line-height: normal;
  font-family: Roboto, sans-serif;

  @media @mobile {
    color: #fff;
  }
}

a{
  text-decoration: none;
  cursor: pointer;
}
h2,
h1{
  display: block;
  font-size: 30px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: #000000;

  @media @mobile {
    color: #ffffff;
  }
}

/* universal */

body{
  @media @mobile {
    background: #221f1f;
  }
}

section{
  position: relative;
  z-index: 0;
}

.main-wrap{
    min-height: 100%;
    position: relative;
    overflow: hidden;
    min-width: 1200px;

  @media @screen{
    min-width: 950px;
  }

  @media @tablet {
    min-width: 750px;
  }
  
  @media @mobile {
    min-width: 320px;
  }
}

.width-wrap{
  width: 1120px;
  padding: 0 30px;
  display: block;
  margin: 0 auto;

  @media @screen{
    width: 930px;
  }

  @media @tablet {
    width: 630px;
    padding-left: 100px;
    padding-right: 40px;
  }
  @media @mobile {
    width: auto;
    min-width: 320px;
    padding: 0;
  }
}

/* header */

.header{
  padding-top: 68px;
  padding-bottom: 22px;
  position: relative;
  z-index: 3;

  @media @screen{
    padding-top: 48px;
  }
  @media @tablet {
    display: none;
  }

  @media @mobile {
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #3b3a3b;
    height: 45px;
  }

  .width-wrap{
    white-space: nowrap;

    @media @desktop {
      text-align: left;
      width: auto;
      padding-left: 30px;
      margin-left: 0;
    }

    @media @desktop_xxl {
      padding-left: 90px;
    }
    @media @screen {
      position: relative;
    }
    @media @mobile {
      min-width: 270px;
    }
  }
}

.logo{
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;

  @media @desktop {
    margin-right: 0;
  }
  @media @screen {
    margin-left: 20px;
    margin-right: 20px !important;
  }
  @media @mobile {
    margin-right: 0;
  }
  @media @desktop_xxl {
    margin-right: 50px;
  }

  img{
    width: 164px;
    height: 49px;
    
    @media @screen {
      width: 100px;
      height: 30px;
    }

    @media @mobile {
      display: none;
    }
  }

  .logo-menu{
    display: none;
    @media @mobile {
      display: block;
      width: 149px;
      height: 44px;
    }

    img{
      width: 149px;
      height: 44px;
    }
  }
}

.header-wrap{
  display: inline-block;
  vertical-align: top;
  @media @desktop {
    width: 80%;
  }
}

.catalog-page{
  .header{
    .width-wrap{
      @media @desktop {
        padding-left: 380px;
        position: relative;
        width: auto;
      }
    }
    .logo{
      @media @desktop {
        margin-right: 160px;
        position: absolute;
        top: 0;
        left: 30px;
      }
      @media @desktop_xxl {
        left: 90px;
      }
    }
    .header-wrap{
      @media @desktop {
        width: auto;
        display: block;
      }

      .main-nav{
        @media @desktop {
          width: 80%;
          margin-left: -4%;
          @media @desktop_xl{
            margin-left: -2%;
          }
          .main-nav__el{
            @media @desktop {
              width: 19%;
            }
          }
          .main-nav__el:last-child{
            min-width: 180px;
          }
        }
        @media @desktop_xxl {
          margin-left: 1%;
        }
      }
      .header--right-block{
        @media @desktop {
          width: 12% !important;
        }
        .header--phone{
          @media @desktop_xl{
            position: absolute;
            top: -11px;
            right: -10px;
          }
        }
      }
    }
  }
}

.main-nav{
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  width: 740px;
  white-space: nowrap;
  z-index: 3;

  @media @desktop {
    width: 75%;
  }
  @media @screen {
    width: 640px;
  }
  @media @mobile {
    display: none;
  }
  .main-nav__el:nth-last-child{
     @media @desktop {
      min-width: 180px;
    }
  }

  .main-nav__el{
    display: inline-block;
    vertical-align: top;
    margin-right: 7px;
    position: relative;

    @media @desktop {
      width: 20%;
      text-align: center;
      margin-right: 0;
    }
    a{
      display: block;
      border: 1px solid transparent;
      padding: 9px 16px 7px;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 3px;
      transition: border 0.2s;
      -webkit-transition: border 0.2s;
      font-size: 14px;

      @media @desktop {
        padding-left: 5px;
        padding-right: 5px;
        display: block;

      }
      @media @screen{
        font-size: 14px;
        padding: 6px 8px 4px;
      }
    }
    a:hover{
      font-weight: 500;
    }

    span{
      display: block;
      border: 1px solid transparent;
      padding: 9px 21px 7px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 14px;

      @media @desktop {
        padding-left: 0;
        padding-right: 0;
      }
      @media @screen{
        font-size: 14px;
        padding: 6px 8px 4px;
      }
    }

    .main-nav-hidden{
      position: absolute;
      left: 0;
      min-width: 240px;
      right: auto;
      width: auto;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: height 0.2s, opacity 0.2s;
      -webkit-transition: height 0.2s, opacity 0.2s;
      background: #f0f0f0;
      z-index: 3;

      .main-nav-hidden__el{
        display: block;
        border-top: 1px solid #fff;
        background: #f0f0f0;
        position: relative;

        a{
          display: block;
          min-height: 23px;
          padding: 0;
          padding-left: 30px;
          padding-right: 20px;
          padding-top: 10px;
          font-weight: 400;
          text-transform: none;
          font-size: 14px;
          letter-spacing: 0px;
        }


        .main-nav-hidden-lvl{
          position: absolute;
          min-width: 240px;
          left: 0;
          margin-left: 100%;
          top: -2px;
          height: 0;
          opacity: 0;
          overflow: hidden;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          transition: height 0.2s, opacity 0.2s;
          -webkit-transition: height 0.2s, opacity 0.2s;
          z-index: 3;

          .main-nav-hidden-lvl__el {
            display: block;
            border-top: 1px solid #fff;
            background: #d9d9d9;
            position: relative;

            a {
              display: block;
              min-height: 23px;
              padding: 0;
              padding-left: 30px;
              padding-right: 20px;
              padding-top: 10px;
              font-weight: 400;
              text-transform: none;
              font-size: 14px;
              letter-spacing: 0px;
            }
          }
          .main-nav-hidden-lvl__el:hover{
            background: #e8e8e8;
          }
        }

      }
      .main-nav-hidden__el:hover{
        background: #e6e6e6;
         .main-nav-hidden-lvl{
          height: auto;
          opacity: 1;
           overflow: visible;
        }
      }
    }
  }

  .main-nav__el:last-child{
    .main-nav-hidden-lvl{
      left: auto !important;
      margin-left: 0 !important;
      right: 0;
      margin-right: 100%;
    }
  }
  .main-nav__el:hover{
    .main-nav-hidden{
      height: auto;
      opacity: 1;
      overflow: visible;
    }
  }
  .has-hidden:hover a{
    border: 1px solid @c_gray_light;
    font-weight: 300;
  }
}

.header--right-block{
  display: inline-block;
  vertical-align: top;
  width: 210px;
  position: relative;
  padding-top: 9px;
  text-align: right;

  @media @desktop {
    width: 24% !important;
    padding-top: 18px;
  }
  @media @screen {
    width: 130px !important;
    position: static;
    margin-right: 30px;
  }
  @media @mobile {
    display: none;
  }

  .header--phone{
    position: absolute;
    left: 22px;
    top: 15px;
    font-size: 14px;
    font-weight: 400;
    
    @media @desktop {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
      top: auto;
      left: auto;
    }
    @media @screen {
      top: 52px !important;
      left: 46px !important;
      font-size: 12px;
    }
  }
  .header--phone:hover{
    font-weight: 500;
  }

  .header--lk{
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }
  .header--search-show{
    width: 19px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
  }

  .header--search{
      width: 0;
      overflow: hidden;
      position: absolute;
      top: 7px;
      right: 55px;

    .header--search-input{
      display: inline-block;
      vertical-align: top;
      margin-left: 32px;
      background: #ffffff;
      border: 1px solid #b5b5b5;
      width: 166px;
      height: 31px;
      line-height: 31px;
      color: #b5b5b5;
      font-size: 16px;
      padding-left: 17px;
      font-weight: 400;
    }
  }
}

.catalog-page .header--phone{
  @media @screen {
    top: 54px;
  }
}
.page-news .header--phone{
  @media @screen {
    top: 52px;
  }
}

.main-nav-mobile{
  display: none;
  @media @mobile {
    display: none;
    background: #221f1f;
    z-index: 3;
  }

  .main-nav__el{
    display: block;
    border-bottom: 1px solid #3b3a3b;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    background: url("../img/arrow-right-white.png") no-repeat 98% 10px;

    a, span{
      display: block;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 300;
    }
    a:active{
      @media @tablet {
        text-decoration: underline;
      }
      @media @mobile {
        text-decoration: underline;
      }
    }
  }
  .main-nav__el:after{
    position: absolute;
    content: '';
    top: 10px;
    right: 5px;
    width: 9px;
    height: 19px;
    background: url("../img/arrow-right.png") no-repeat 0 0;
  }
}

.show--mobile-menu{
  display: none;
  @media @mobile {
    width: 45px;
    height: 45px;
    background: #3c3c3c url(../img/icon--menu.png) no-repeat 50%;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    border-radius: 40px;
    float: right;
  }
}

/* breadcrumbs */
.catalog-page .breadcrumbs{
  @media @screen {
    display: none;
  }
}
.catalog-page .breadcrumbs-list{
  margin-bottom: 27px;
  padding-bottom: 0;
  margin-top: 11px;
  @media @screen {
    display: none;
  }
  @media @tablet {
    padding-bottom: 13px;
    margin-top: 25px;
  }
  @media @mobile {
    padding-left: 28px;
    padding-right: 25px;
    padding-bottom: 10px;
  }

  .breadcrumbs-list{
    @media @mobile {
      text-align: left;
    }
  }
}
.page-news .breadcrumbs-list{
  margin-left: 265px;
  margin-bottom: 27px;
  padding-bottom: 0;
  margin-top: 11px;
  @media @desktop {
    margin-left: 0;
  }
  @media @screen {
    display: none;
    margin-left: 0;
  }
  @media @tablet {
    padding-bottom: 0;
    margin-top: 25px;
    margin-left: 0;
  }
  @media @mobile {
    display: none;
  }

  .breadcrumbs-list{
    @media @mobile {
      text-align: left;
    }
  }
}
.page-article .breadcrumbs-list{
  margin-left: 265px;
  margin-bottom: 27px;
  padding-bottom: 0;
  margin-top: 11px;
    @media @desktop {
    margin-left: 0;
  }
  @media @screen {
    margin-left: 295px;
    margin-bottom: 18px;
    margin-top: 33px;
  }
  @media @tablet {
    margin-left: 0;
    margin-bottom: 27px;
    margin-top: 25px;
  }
  @media @mobile {
    display: none;
  }

  .breadcrumbs-list{
    @media @mobile {
      text-align: left;
    }
  }
}

.breadcrumbs{
  position: relative;
  z-index: 1;

  @media @screen{
    padding-bottom: 27px;
  }

  .width-wrap{
    @media @desktop {
      text-align: left;
      width: 100%;
      padding-left: 30px;
      margin-left: 0;
    }
    @media @desktop_xxl {
      padding-left: 90px !important;
    }
  }

  .breadcrumbs-list{
    @media @screen{
      margin-left: 20px;
    }
    @media @mobile {
      text-align: center;
      padding-top: 23px;
    }

    .breadcrumbs-list__el{
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding-right: 17px;

      a,
      span{
        font-size: 13px;
        font-style: italic;
        color: #a6a8ab;
        font-weight: 400;
      }
    }
    .breadcrumbs-list__el:after{
      position: absolute;
      content: '/';
      right: 6px;
      top: 1px;
      font-family: Roboto, sans-serif;
      font-size: 13px;
      font-style: italic;
      color: #a6a8ab;
    }
    .breadcrumbs-list__el:last-child:after{
      content: '';
    }
  }
}

/* catalog */

.catalog{
  position: relative;

  .width-wrap{
    @media @mobile {
      min-width: 270px;
    }
  }

  h1{
    display: none;
    @media @screen {
      display: none;
    }

    @media @tablet {
      display: block;
      font-size: 32px;
      color: #3e3e3e;
      font-weight: 300;
    }
  }

  .catalog-list{
    
    @media @screen {
      margin-top: 71px;
    }
    @media @tablet {
      margin-top: -15px;
    }
    @media @mobile {
      padding: 0 20px;
    }
  }

  .catalog-list__el{
    display: block;
    margin-bottom: 147px;
    position: relative;

    @media @screen {
      padding-left: 20px;
      margin-bottom: 124px;
    }
    @media @tablet {
      padding-bottom: 85px;
      margin-bottom: 0;
      margin-top: 55px;
      border-bottom: 1px solid #efefef;
    }
    @media @mobile {
      margin-bottom: 40px;
      border-bottom: 1px solid #efefef;
    }


    .width-wrap {
      @media @desktop{
        text-align: left;
        width: auto;
        padding-left: 345px;
        margin-left: 0;
        padding-right: 0;
      }
      @media @desktop_xxl {
        padding-left: 405px;
        width: auto;
        padding-right: 0;
      }
    }

    .catalog-list__el__content{
      display: inline-block;
      vertical-align: top;
      width: 315px;
      text-align: left;
      height: 430px;
      position: relative;

      @media @desktop_xxl {
        margin-left: -315px;
        position: absolute;
        bottom: 0;
        top: 0;
        height: auto;
      }
      @media @desktop {
        margin-left: -315px;
        position: absolute;
        bottom: 0;
        top: 0;
        height: auto;
      }
      @media @screen{
        width: auto;
        display: block;
      }

      @media @tablet {
        width: auto;
        display: block;
        height: auto;
      }
      @media @mobile {
        width: auto;
        display: block;
         height: auto;
      }
      .mobile-title{
        display: none;
        @media @mobile {
          display: block;
          margin: 0 40px 28px;
          background: #f0f0f0;
          padding-top: 8px;
          padding-bottom: 7px;
          font-size: 20px;
          color: #3e3e3e;
          font-weight: 300;
          text-align: center;
        }
      }

      .catalog-list__el__content-title{
        display: block;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 13px;
        color: #000000;
        
        @media @mobile {
          color: #fff;
        }
      }

      p{
        font-weight: 400;
        font-size: 14px;
        padding-bottom: 10px;
        color: #77787b;
        line-height: 18px;
        text-align: justify;

        @media @screen{
          padding-bottom: 14px;
        }
        @media @tablet {
          padding-bottom: 18px;
        }
        @media @mobile {
          color: #fff;
        }
      }

      .catalog-list__el__content-more{
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        display: block;
        margin-left: 2px;
        position: relative;
        margin-bottom: 40px;
        color: #000;

        @media @screen {
          margin-bottom: 50px;
        }
        @media @tablet {
          margin-bottom: 386px;
        }
        @media @mobile {
          margin-bottom: 250px;
          color: #079ccc;
        }
      }
      .catalog-list__el__content-more:after{
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        content: ">";
        top: 0;
        margin-left: 3px;
      }
      .catalog-list__el__content-news{
        padding-left: 33px;
        min-height: 18px;
        background: url(../img/icon--question.png) no-repeat 0 0;
        color: #00bbf7;
        font-size: 16px;
        font-style: italic;
        display: block;
        margin-bottom: 20px;
        font-weight: 300;

        @media @tablet {
          display: inline-block;
          vertical-align: top;
          margin-right: 70px;
          margin-bottom: 0;
        }
        @media @mobile {
          margin-left: 40px;
          margin-bottom: 22px;
        }
      }
      .catalog-list__el__content-news:after{
        color: #00bbf7;
        font-size: 16px;
        font-style: italic;
        content: ">";
        top: 0;
        margin-left: 3px;
      }
      .catalog-list__el__content-scype{
        padding-left: 33px;
        min-height: 18px;
        background: url(../img/icon--scype.png) no-repeat 0 0;
        font-size: 16px;
        font-style: italic;
        display: block;
        color: #00bbf7;

        @media  @tablet {
          display: inline-block;
          vertical-align: top;
          margin-bottom: 0;
        }

        @media @mobile {
          margin-left: 40px;
          margin-bottom: 40px;
        }
      }
      .page-slide{
        width: 240px;
        position: absolute;
        left: 0;
        bottom: 0;

        @media  @screen {
          margin-top: 80px;
        }

        @media @tablet {
          display: none;
        }
        @media @mobile {
          display: none;
        }

        .page-slide__el{
          display: block;
          border: 1px solid @c_gray_light;
          margin-bottom: 1px;

          a, span{
            display: block;
            height: 33px;
            line-height: 37px;
            font-weight: 400;
            text-align: center;
            font-size: 18px;
          }

          span{
            background: @c_gray_light;
            position: relative;
          }
          span:before{
            position: absolute;
            left: 25px;
            top: 13px;
            content: '';
            width: 9px;
            height: 9px;
            border-radius: 9px;
            background: #fff;
          }
        }
      }
    }
    .catalog-list__el__slider{
      display: block;
      left: 50%;
      right: 0;
      height: 405px;
      position: absolute;
      top: 23px;
      margin-left: -209px;
      overflow: hidden;

      @media @desktop {
        left: 0;
        top: 0;
        margin-left: 30px;
        display: block;
        vertical-align: top;
        position: relative;
        width: auto;
        height: auto;
      }
      @media @desktop_xxl {
        left: 0;
        margin-left: 30px;
        top: 0;
        display: block;
        vertical-align: top;
        position: relative;
        width: auto;
        height: auto;
      }
      .owl-carousel .owl-stage-outer{
        overflow: visible !important;
        @media @desktop {
          overflow: hidden !important;
        }
        @media @desktop_xxl {
          overflow: hidden !important;
        }
      }
      @media @screen {
        height: 338px;
        margin-left: -148px;
        top: auto;
        bottom: 0;
      }
      
      @media @tablet {
        height: 318px;
        bottom: 145px;
        width: 550px;
        margin-left: -280px;
        top: auto;
      }
      
      @media @mobile {
        left: 50%;
        right: 0;
        bottom: 125px;
        height: 205px;
        top: auto;
        width: 320px;
        margin-left: -160px;
      }

      .catalog-slider__el{
        width: 680px;
        position: relative;

        @media @desktop {
          width: auto;
        }
        @media @desktop_xxl {
          width: auto;
        }
        @media @screen {
          width: 580px;
        }
        @media @tablet {
          width: 550px;
        }
        @media @mobile {
          width: 320px;
        }
      }
      .trigger-next,
      .trigger-prev{
          width: 20px;
          height: 44px;
          cursor: pointer;
          position: absolute;
          z-index: 5;
          background: url("../img/sprite--arrow.png") no-repeat 0 0;
          top: 105px;
          right: 15px;
        @media @desktop {
          right: 11%;
        }
        @media @mobile {
          display: none;
        }

        @media @screen {
          right: 12px;
        }
      }
      .trigger-next{
        background: url("../img/sprite--arrow.png") no-repeat -22px 0;
        top: 245px;
        @media @desktop {
          right: 11%;
          top: 30%;
        }
      }
      .trigger-prev{
        @media @desktop {
          right: 12%;
          top: 60%;
        }
      }
      img{
        @media @desktop_xxl {
          width: 80%;
          height:  auto;
        }
        @media @desktop {
          width: 80%;
          height:  auto;
        }
        @media @screen {
          height: 338px;
          width: 528px;
        }
        @media @tablet {
          height: 318px;
          width: 498px;
        }
        @media @mobile {
          width: 320px;
        }
      }
      
      .owl-nav{
        @media @mobile {
          background: rgba(180,180,180,0.3);
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 45px;
        }
      }

      .owl-nav div{
        width: 20px;
        height: 44px;
        cursor: pointer;
        position: absolute;
        z-index: 5;
        background: url("../img/sprite--arrow.png") no-repeat 0 0;
        top: 105px;
        left: 650px;
        display: none !important;

        @media @screen {
          left: 548px;
          top: 70px;
        }
        @media @tablet{
          left: 535px;
          top: 60px;
        }
        @media @mobile{
          left: 12px;
          top: 20px;
          display: block !important;
        }
      }
      .owl-nav div.owl-next{
        background: url("../img/sprite--arrow.png") no-repeat -22px 0;
        top: 245px;

        @media  @screen {
          top: 210px;
        }
        @media @tablet {
          top: 200px;
        }
        @media @mobile {
          top: 120px
        }
      }
    }
  }
}

/* footer */

.psevdofooter{
  @media @tablet {
    display: none;
  }
  @media @mobile{
    height: 640px;
  }
}

.footer{
  border-top: 1px solid @c_gray;

  @media @tablet {
    display: none;
  }
  @media @mobile{
    display: none;
  }

  .width-wrap{
    @media  @screen {
      padding: 0 !important;
    }
    @media @desktop {
      text-align: left;
      width: auto;
      padding-left: 30px;
      margin-left: 0;
      padding-right: 30px;
    }
    @media @desktop_xxl {
      padding-left: 90px;
    }
  }

  .footer-title{
    display: block;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 28px;

    @media  @screen {
      font-size: 13px;
    }
  }

  .footer-line{
    display: block;
    margin-bottom: 11px;

    a, span{
      font-weight: 400;
      font-size: 15px;
    }
  }

  .social{
    display: block;
    margin-top: 27px;

    a:nth-child(2){
      display: inline-block;
      vertical-align: top;
      margin: 0 14px;

      @media @screen {
        margin: 0 9px;
      }
    }
  }

  .footer-contacts{
    span.footer-line{
      line-height: 27px;
      margin-bottom: 3px;
    }
    .phone{
      white-space: nowrap;
      a{
        display: inline-block;
        vertical-align: top;
        font-size: 13px;

        @media @screen {
          font-size: 14px;
        }
      }
      a:last-child{
        padding-left: 4px;
      }
      a:first-child{
        padding-right: 8px;
        border-right: 1px solid @c_gray;
      }
    }
    .footer-call{
      border: 1px solid #c4c4c4;
      padding: 10px 0 12px 45px;
      background: url("../img/icon--phone.png") no-repeat 15px 50%;
      font-weight: 300;
      display: block;
      text-align: center;
      white-space: nowrap;

      @media @screen {
        padding-left: 60px;
        letter-spacing: 0;
      }
    }
  }
}

.footer .width-wrap > div.footer-contacts{
  width: 280px;
  @media @screen {
    width: 270px;
  }
}
.footer .width-wrap > div.footer-copyright{
  margin-right: 70px;
  @media @desktop {
    margin-right: 0;
  }
  @media @screen{
    width: 170px;
    margin-right: 0;
  }
}
.footer .width-wrap > div{
  display: inline-block;
  vertical-align: top;
  width: 180px;
  padding-top: 53px;

  @media @desktop {
    width: 19% !important;
  }
  @media @screen {
    width: 140px;
  }
}

.footer-mobile{
  display: none;
  
  @media @mobile {
    display: block;
    height: 640px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px;
    text-align: center;
    z-index: 5;
  }

  .footer-logo{
    width: 225px;
    height: 67px;
    display: block;
    margin: 38px auto 0;

    img{
      display: block;
    }
  }

  .footer-call{
    display: block;
    width: 268px;
    height: 31px;
    border: 1px solid #504c4c;
    background: url("../img/icon--phone-white.png") no-repeat 10px 50%;
    margin: 43px auto 0;
    line-height: 31px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .footer-line{
    display: block;
    text-align: center;
    margin-bottom: 18px;

    a, span{
      color: #888686;
      font-weight: 400;
      display: block;
      text-align: center;
      font-size: 14px;
    }

    a{
      font-size: 17px;
      margin-bottom: 10px;
    }
  }

  .social{
    margin-top: 60px;

    a{
      margin: 0 5px;
    }
  }

  .js--page-slide{
    display: block;
    width: 46px;
    height: 46px;
    margin: 45px auto 0;
  }
}

/* */

.content{
  .width-wrap{
    @media @desktop {
        text-align: left;
        width: auto;
        margin-left: 0;
        padding-left: 275px;
        padding-right: 30px;
    }
    @media  @desktop_xxl {
      padding-left: 90px !important;
    }
  }
}

/* aside */

aside{
  display: inline-block;
  vertical-align: top;
  width: 240px;

  @media @desktop {
    margin-left: -245px;
  }
  @media @screen {
    width: 160px;
  }

  @media @tablet {
    display: none;
  }
  @media @mobile {
    display: none;
  }

  .aside-nav{
    display: block;
    margin-top: 30px;

    @media @screen {
      margin-left: 10px;
      margin-top: 40px;
    }

    .aside-nav__el{
      display: block;
      margin-bottom: 14px;

      a, span{
        font-size: 18px;
        font-weight: 300;
        color: #1e1e1e;
      }

      span{
        font-weight: 700;
      }
    }
  }
}

/* acticle */

article{
  width: 825px;
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;

  @media @desktop {
    display: inline-block;
    margin-right: 0;
    width: auto;
  }
  @media @screen {
    width: 750px;
    margin-right: 15px;
  }
  @media @tablet {
    width: 630px;
  }
  @media @mobile {
    width: auto;
    padding: 43px 20px 0;
    display: block;
    margin-right: 0;
  }

  time{
    display: block;
    color: #77787b;
    font-size: 13px;
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;

    @media @mobile {
      display: none;
    }
  }

  h1{
    margin-bottom: 25px;

    @media @mobile {
      color: #ffffff;
      font-weight: 300;
      font-size: 26px;
    }
  }

  p{
    font-size: 16px;
    color: #77787b;
    line-height: 24px;
    margin-bottom: 30px;
    @media @mobile {
      font-size: 20px;
      font-weight: 300;
      color: #fff;
    }
  }

  p.tab{
    text-indent: 20px;
  }

  img{
    max-width: 530px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;

    @media @screen{
      max-width: 390px;
      margin-bottom: 10px;
    }

    @media @tablet {
      display: block;
      width: 100%;
      margin: 10px 0;
      float: none;
      max-width: none;
    }
    @media @mobile {
      display: none;
    }
  }

  img.ebushaja-zaglavnaya-nikomy-tut-nenuzhnaya-picha{
    display: none;
    @media @mobile {
      display: block;
      width: 100%;
      margin: 10px 0;
      float: none;
      max-width: none;
    }
  }
}

/* news */

.news{
  .width-wrap {
    @media @desktop {
      text-align: left;
      width: auto;
      padding-left: 30px;
      margin-left: 0;
      padding-right: 30px;
    }
    @media @desktop_xxl {
      padding-left: 90px;
    }
  }
}

.news-list{
  margin-top: -5px;
  width: 1085px;

  @media @desktop {
    width: 100%;
  }
  @media @screen {
    margin-left: 20px;
    width: 910px;
    margin-top: -20px;
  }
  @media @tablet {
    width: 640px;
    margin-left: 0;
    margin-top: -55px;
  }
  @media @mobile {
    display: block;
    width: auto;
    margin-left: 0;
    padding: 0 20px;
    margin-top: -30px;
  }

  .news-list__el{
    display: block;
    padding-top: 66px;
    padding-bottom: 6px;
    border-bottom: 1px solid #a1a1a1;

    @media @desktop {
      width: auto;
      padding-left: 265px;
    }
    @media @tablet {
        padding-bottom: 30px;
    }

    h2{
      margin-bottom: 9px;

      @media @screen {
        margin-bottom: 13px;
      }

      a{
        display: block;
        font-size: 30px;
        font-weight: 300;
        font-family: Roboto, sans-serif;
        color: #000000;
        text-transform: uppercase;

        @media @screen {
          font-size: 21px;
          margin-top: 9px;
        }

        @media @tablet {
          font-size: 23px;
          margin-bottom: 26px;
        }

        @media @mobile {
          color: #fff;
          font-size: 25px;
        }
      }
    }

    h2.mobile-title{
      display: none;

      @media  @tablet {
        display: block;
      }
      @media  @mobile {
        display: block;
      }

       a{
        display: block;
        font-size: 30px;
        font-weight: 300;
        font-family: Roboto, sans-serif;
        color: #000000;
        text-transform: uppercase;

        @media @screen {
          font-size: 21px;
          margin-top: 9px;
        }

        @media @tablet {
          font-size: 23px;
        }

        @media @mobile {
          color: #fff;
          font-size: 20px;
          text-transform: none;
          letter-spacing: 1px;
          margin-bottom: 40px;
        }
      }
    }

    .news-list__el-img{
      display: inline-block;
      vertical-align: top;
      margin-right: 40px;
      width: 223px;
      @media @desktop {
        margin-left: -265px;
      }

      img{
        border: 1px solid #a1a1a1;
        width: 100%;
        height: auto;
      }
      @media @tablet {
        margin-right: 15px;
        margin-top: 6px;
      }
      @media @mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }
    }

    .news-list__content{
      display: inline-block;
      vertical-align: top;
      width: 820px;

      @media @desktop {
        width: 100%;
      }
      @media @screen {
        width: 645px;
      }
      
      @media @tablet {
        width: 400px;
      }
      @media @mobile {
        width: auto;
        display: block;
      }

      h2{
        @media  @tablet {
          display: none;
        }
        @media  @mobile {
          display: none;
        }
      }

      p{
        line-height: 24px;
        color: #77787b;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 20px;
        text-align: justify;

        @media @mobile {
          color: #fff;
          font-weight: 300;
        }
      }

      .news-list__content-info{
        time{
          display: inline-block;
          vertical-align: top;
          color: #77787b;
          font-size: 13px;
          margin-bottom: 10px;
          font-family: Roboto, sans-serif;
        }
        .news-list__content-more{
          display: inline-block;
          vertical-align: top;
          color: #2ec1fe;
          font-size: 12px;
          text-transform: uppercase;
          padding-right: 15px;
          position: relative;
        }
        .news-list__content-more:after{
          position: absolute;
          content: ">";
          right: 0;
        }
      }
    }
  }
}

.pagination{
  display: block;
  margin-top: 60px;
  margin-bottom: 90px;

  @media @tablet {
    margin-top: 35px;
    margin-bottom: 40px;
  }
  @media @mobile {
    margin: 45px 0 0;
    padding-bottom: 45px;
    text-align: center;
    border-bottom: 1px solid #3b3a3b;
  }

  .pagination__el{
    display: inline-block;
    vertical-align: top;
    margin-right: 36px;

    @media @tablet {
      margin-right: 24px;
    }
    @media @mobile {
      margin-right: 15px;
    }

    a, span{
      display: inline-block;
      vertical-align: top;
      font-size: 56px;
      line-height: 40px;
      color: #414141;
      font-weight: 300;

      @media @tablet {
        font-size: 38px;
      }
      @media @mobile{
        font-size: 30px;
      }
    }
    span{
      color: #2ec1fe;
    }
  }
}

/* left-menu */

.left-menu{
  display: none;
  z-index: 3;

  .left-menu__top{
    position: fixed;
    top: 0;
    border-bottom: 1px solid #dfdfdf;
    left: 0;
    width: 67px;
    height: 126px;

    .logo{
      display: block;
      margin-left: 8px;
      margin-top: 16px;
      width: 49px;
      height: 15px;
      cursor: pointer;

      img{
        width: 49px;
        height: 15px;
      }
    }

    .show-menu{
      display: block;
      margin-top: 24px;
      margin-left: 15px;
      width: 40px;
      height: 40px;
      background: #fff url(../img/arrow-right.png) no-repeat 50% 50%;
    }
  }

  .left-menu__bottom{
    position: fixed;
    bottom: 0;
    border-top: 2px solid #b4b4b5;
    left: 0;
    width: 67px;
    height: 198px;
    padding-top: 21px;

    .social{
      margin-left: 10px;

      a{
        display: block;
        width: 49px;
        height: 49px;
        margin-bottom: 11px;
      }
    }
  }

  @media @tablet{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #e8e8e8;
    width: 67px;
  }
}

/* left-menu-opened */

.left-menu-opened{
  z-index: 5;
  margin-left: -310px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #e8e8e8;
  width: 305px;
  border-right: 2px solid #b4b4b5;
  box-shadow: 0 0 3px #d6d6d6;
  overflow: hidden;

  .top{
    height: 87px;
    padding-top: 28px;
    padding-left: 37px;
    display: block;
    border-bottom: 1px solid #dfdfdf;

    .logo{
      display: inline-block;
      vertical-align: top;
      width: 168px;
      height: 50px;
      margin-right: 40px;
    }

    .hide-menu{
      display: inline-block;
      vertical-align: top;
      width: 40px;
      height: 40px;
      background: #fff url(../img/arrow-left.png) no-repeat 50% 50%;
    }
  }
  .main-nav{
    display: block;
    padding-top: 0;
    width: 305px;

    .main-nav__el{
      display: block;
      padding: 18px 25px 14px;
      margin-right: 0;

      a, span{
        font-size: 20px;
        color: #221f1f;
        font-weight: 300;
        padding: 0;
        border:none;
        line-height: 20px;
      }


      .main-nav-hidden{
        position: relative;
        left: -25px;
        width: 305px;
        border: none;

        .main-nav-hidden__el{
          border: none;
          background: none;
          display: block;
          padding: 4px 25px 2px;

          a, span{
            font-size: 16px;
            color: #221f1f;
            font-weight: 300;
            padding: 0;
            border:none;
            background: none;
            padding-left: 15px;
            position: relative;
            text-transform: uppercase;
          }
          a:active{
            @media @tablet {
              text-decoration: underline;
            }
            @media @mobile {
              text-decoration: underline;
            }
          }
          a:before,
          span:before{
            position: absolute;
            content: '-';
            font-size: 20px;
            color: #221f1f;
            font-weight: 300;
            top: 0;
            left: 0;
          }
        }
      }
    }

    .main-nav__el.has-hidden{
      background: url("../img/arrow-bottom.png") no-repeat 95% 25px;
    }

    .main-nav__el:hover{
      background: #f8f8f8;

      .main-nav-hidden{
        margin-top: 33px;
        .main-nav-hidden__el{
          background: #f8f8f8;
          .main-nav-hidden{
            left: -5px;
            margin-top: 15px;
          }
        }
      }
    }
    .main-nav__el.has-hidden:hover{
      background: #f8f8f8 url("../img/arrow-bottom.png") no-repeat 95% 25px;
    }
  }
  .header--phone{
    display: inline-block;
    vertical-align: top;
    margin-top: 75px;
    margin-left: 25px;
    font-size: 21px;
    letter-spacing: 2px;
    color: #221f1f;
  }
  .header--search{
    margin-top: 90px;

    .header--search-input{
      display: inline-block;
      vertical-align: top;
      margin-left: 32px;
      background: #f4f4f4;
      border: 1px solid #b5b5b5;
      width: 166px;
      height: 31px;
      line-height: 31px;
      color: #b5b5b5;
      font-size: 16px;
      padding-left: 17px;
      font-weight: 400;
    }

    .search-submit{
      display: inline-block;
      vertical-align: top;
      background: #eaeaea url(../img/icon--zoom.png) no-repeat 50%;
      cursor: pointer;
      margin-left: 10px;
      width: 39px;
      height: 35px;
      border: 1px solid #dfdfdf;
    }
  }
}

/* form */

.form-wrap{
  width: 360px;
  @media @mobile {
    width: 250px;
  }


  h2{
    color: #fff;
    font-size: 22px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 300;
    @media @mobile {
      font-size: 20px;
    }
  }

  label{
    display: block;
    margin-bottom: 20px;

    span{
      display: block;
      text-align: left;
      font-size: 17px;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 10px;
      font-weight: 300;
      padding-left: 30px;
    }

    .form-input{
      width: 325px;
      padding-left: 30px;
      height: 36px;
      line-height: 40px;
      border: 1px solid #ffffff;
      background: rgba(13,12,12,0.6);
      font-size: 16px;
      color: #fff;
      @media @mobile {
        width: 195px;
      }
    }
  }

  .button{
    background: #d4d3d3;
    border: none;
    outline: none;
    display: block;
    width: 210px;
    height: 40px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
    margin: 30px auto 0;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden;
    @media @mobile {
      width: 190px;
      margin-left: 20px;
      overflow: hidden;
    }
  }
}
