/* variable */
/* text */
a,
span,
p {
  color: #585657;
  font-size: 14px;
  line-height: normal;
  font-family: Roboto, sans-serif;
}
@media (max-width: 769px) {
  a,
  span,
  p {
    color: #fff;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
}
h2,
h1 {
  display: block;
  font-size: 30px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: #000000;
}
@media (max-width: 769px) {
  h2,
  h1 {
    color: #ffffff;
  }
}
/* universal */
@media (max-width: 769px) {
  body {
    background: #221f1f;
  }
}
section {
  position: relative;
  z-index: 0;
}
.main-wrap {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  min-width: 1200px;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .main-wrap {
    min-width: 950px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .main-wrap {
    min-width: 750px;
  }
}
@media (max-width: 769px) {
  .main-wrap {
    min-width: 320px;
  }
}
.width-wrap {
  width: 1120px;
  padding: 0 30px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .width-wrap {
    width: 930px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .width-wrap {
    width: 630px;
    padding-left: 100px;
    padding-right: 40px;
  }
}
@media (max-width: 769px) {
  .width-wrap {
    width: auto;
    min-width: 320px;
    padding: 0;
  }
}
/* header */
.header {
  padding-top: 68px;
  padding-bottom: 22px;
  position: relative;
  z-index: 3;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .header {
    padding-top: 48px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .header {
    display: none;
  }
}
@media (max-width: 769px) {
  .header {
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #3b3a3b;
    height: 45px;
  }
}
.header .width-wrap {
  white-space: nowrap;
}
@media (min-width: 1220px) {
  .header .width-wrap {
    text-align: left;
    width: auto;
    padding-left: 30px;
    margin-left: 0;
  }
}
@media (min-width: 1400px)  {
  .header .width-wrap {
    padding-left: 90px;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .header .width-wrap {
    position: relative;
  }
}
@media (max-width: 769px) {
  .header .width-wrap {
    min-width: 270px;
  }
}
.logo {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
@media (min-width: 1220px) {
  .logo {
    margin-right: 0;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .logo {
    margin-left: 20px;
    margin-right: 20px !important;
  }
}
@media (max-width: 769px) {
  .logo {
    margin-right: 0;
  }
}
@media (min-width: 1400px)  {
  .logo {
    margin-right: 50px;
  }
}
.logo img {
  width: 164px;
  height: 49px;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .logo img {
    width: 100px;
    height: 30px;
  }
}
@media (max-width: 769px) {
  .logo img {
    display: none;
  }
}
.logo .logo-menu {
  display: none;
}
@media (max-width: 769px) {
  .logo .logo-menu {
    display: block;
    width: 149px;
    height: 44px;
  }
}
.logo .logo-menu img {
  width: 149px;
  height: 44px;
}
.header-wrap {
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 1220px) {
  .header-wrap {
    width: 80%;
  }
}
@media (min-width: 1220px) {
  .catalog-page .header .width-wrap {
    padding-left: 380px;
    position: relative;
    width: auto;
  }
}
@media (min-width: 1220px) {
  .catalog-page .header .logo {
    margin-right: 160px;
    position: absolute;
    top: 0;
    left: 30px;
  }
}
@media (min-width: 1400px)  {
  .catalog-page .header .logo {
    left: 90px;
  }
}
@media (min-width: 1220px) {
  .catalog-page .header .header-wrap {
    width: auto;
    display: block;
  }
}
@media (min-width: 1220px) {
  .catalog-page .header .header-wrap .main-nav {
    width: 80%;
    margin-left: -4%;
  }
  .catalog-page .header .header-wrap .main-nav .main-nav__el:last-child {
    min-width: 180px;
  }
}
@media (min-width: 1220px) and (min-width: 1220px) and (max-width: 1399px)  {
  .catalog-page .header .header-wrap .main-nav {
    margin-left: -2%;
  }
}
@media (min-width: 1220px) and (min-width: 1220px) {
  .catalog-page .header .header-wrap .main-nav .main-nav__el {
    width: 19%;
  }
}
@media (min-width: 1400px)  {
  .catalog-page .header .header-wrap .main-nav {
    margin-left: 1%;
  }
}
@media (min-width: 1220px) {
  .catalog-page .header .header-wrap .header--right-block {
    width: 12% !important;
  }
}
@media (min-width: 1220px) and (max-width: 1399px)  {
  .catalog-page .header .header-wrap .header--right-block .header--phone {
    position: absolute;
    top: -11px;
    right: -10px;
  }
}
.main-nav {
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  width: 740px;
  white-space: nowrap;
  z-index: 3;
}
@media (min-width: 1220px) {
  .main-nav {
    width: 75%;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .main-nav {
    width: 640px;
  }
}
@media (max-width: 769px) {
  .main-nav {
    display: none;
  }
}
@media (min-width: 1220px) {
  .main-nav .main-nav__el:nth-last-child {
    min-width: 180px;
  }
}
.main-nav .main-nav__el {
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
  position: relative;
}
@media (min-width: 1220px) {
  .main-nav .main-nav__el {
    width: 20%;
    text-align: center;
    margin-right: 0;
  }
}
.main-nav .main-nav__el a {
  display: block;
  border: 1px solid transparent;
  padding: 9px 16px 7px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  transition: border 0.2s;
  -webkit-transition: border 0.2s;
  font-size: 14px;
}
@media (min-width: 1220px) {
  .main-nav .main-nav__el a {
    padding-left: 5px;
    padding-right: 5px;
    display: block;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .main-nav .main-nav__el a {
    font-size: 14px;
    padding: 6px 8px 4px;
  }
}
.main-nav .main-nav__el a:hover {
  font-weight: 500;
}
.main-nav .main-nav__el span {
  display: block;
  border: 1px solid transparent;
  padding: 9px 21px 7px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
}
@media (min-width: 1220px) {
  .main-nav .main-nav__el span {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .main-nav .main-nav__el span {
    font-size: 14px;
    padding: 6px 8px 4px;
  }
}
.main-nav .main-nav__el .main-nav-hidden {
  position: absolute;
  left: 0;
  min-width: 240px;
  right: auto;
  width: auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.2s, opacity 0.2s;
  -webkit-transition: height 0.2s, opacity 0.2s;
  background: #f0f0f0;
  z-index: 3;
}
.main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el {
  display: block;
  border-top: 1px solid #fff;
  background: #f0f0f0;
  position: relative;
}
.main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el a {
  display: block;
  min-height: 23px;
  padding: 0;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 10px;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0px;
}
.main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el .main-nav-hidden-lvl {
  position: absolute;
  min-width: 240px;
  left: 0;
  margin-left: 100%;
  top: -2px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: height 0.2s, opacity 0.2s;
  -webkit-transition: height 0.2s, opacity 0.2s;
  z-index: 3;
}
.main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el .main-nav-hidden-lvl .main-nav-hidden-lvl__el {
  display: block;
  border-top: 1px solid #fff;
  background: #d9d9d9;
  position: relative;
}
.main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el .main-nav-hidden-lvl .main-nav-hidden-lvl__el a {
  display: block;
  min-height: 23px;
  padding: 0;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 10px;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0px;
}
.main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el .main-nav-hidden-lvl .main-nav-hidden-lvl__el:hover {
  background: #e8e8e8;
}
.main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el:hover {
  background: #e6e6e6;
}
.main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el:hover .main-nav-hidden-lvl {
  height: auto;
  opacity: 1;
  overflow: visible;
}
.main-nav .main-nav__el:last-child .main-nav-hidden-lvl {
  left: auto !important;
  margin-left: 0 !important;
  right: 0;
  margin-right: 100%;
}
.main-nav .main-nav__el:hover .main-nav-hidden {
  height: auto;
  opacity: 1;
  overflow: visible;
}
.main-nav .has-hidden:hover a {
  border: 1px solid #f0f0f0;
  font-weight: 300;
}
.header--right-block {
  display: inline-block;
  vertical-align: top;
  width: 210px;
  position: relative;
  padding-top: 9px;
  text-align: right;
}
@media (min-width: 1220px) {
  .header--right-block {
    width: 24% !important;
    padding-top: 18px;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .header--right-block {
    width: 130px !important;
    position: static;
    margin-right: 30px;
  }
}
@media (max-width: 769px) {
  .header--right-block {
    display: none;
  }
}
.header--right-block .header--phone {
  position: absolute;
  left: 22px;
  top: 15px;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 1220px) {
  .header--right-block .header--phone {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    top: auto;
    left: auto;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .header--right-block .header--phone {
    top: 52px !important;
    left: 46px !important;
    font-size: 12px;
  }
}
.header--right-block .header--phone:hover {
  font-weight: 500;
}
.header--right-block .header--lk {
  width: 16px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.header--right-block .header--search-show {
  width: 19px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.header--right-block .header--search {
  width: 0;
  overflow: hidden;
  position: absolute;
  top: 7px;
  right: 55px;
}
.header--right-block .header--search .header--search-input {
  display: inline-block;
  vertical-align: top;
  margin-left: 32px;
  background: #ffffff;
  border: 1px solid #b5b5b5;
  width: 166px;
  height: 31px;
  line-height: 31px;
  color: #b5b5b5;
  font-size: 16px;
  padding-left: 17px;
  font-weight: 400;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog-page .header--phone {
    top: 54px;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .page-news .header--phone {
    top: 52px;
  }
}
.main-nav-mobile {
  display: none;
}
@media (max-width: 769px) {
  .main-nav-mobile {
    display: none;
    background: #221f1f;
    z-index: 3;
  }
}
.main-nav-mobile .main-nav__el {
  display: block;
  border-bottom: 1px solid #3b3a3b;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  background: url("../img/arrow-right-white.png") no-repeat 98% 10px;
}
.main-nav-mobile .main-nav__el a,
.main-nav-mobile .main-nav__el span {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 969px) and (min-width: 770px) {
  .main-nav-mobile .main-nav__el a:active {
    text-decoration: underline;
  }
}
@media (max-width: 769px) {
  .main-nav-mobile .main-nav__el a:active {
    text-decoration: underline;
  }
}
.main-nav-mobile .main-nav__el:after {
  position: absolute;
  content: '';
  top: 10px;
  right: 5px;
  width: 9px;
  height: 19px;
  background: url("../img/arrow-right.png") no-repeat 0 0;
}
.show--mobile-menu {
  display: none;
}
@media (max-width: 769px) {
  .show--mobile-menu {
    width: 45px;
    height: 45px;
    background: #3c3c3c url(../img/icon--menu.png) no-repeat 50%;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    border-radius: 40px;
    float: right;
  }
}
/* breadcrumbs */
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog-page .breadcrumbs {
    display: none;
  }
}
.catalog-page .breadcrumbs-list {
  margin-bottom: 27px;
  padding-bottom: 0;
  margin-top: 11px;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog-page .breadcrumbs-list {
    display: none;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog-page .breadcrumbs-list {
    padding-bottom: 13px;
    margin-top: 25px;
  }
}
@media (max-width: 769px) {
  .catalog-page .breadcrumbs-list {
    padding-left: 28px;
    padding-right: 25px;
    padding-bottom: 10px;
  }
}
@media (max-width: 769px) {
  .catalog-page .breadcrumbs-list .breadcrumbs-list {
    text-align: left;
  }
}
.page-news .breadcrumbs-list {
  margin-left: 265px;
  margin-bottom: 27px;
  padding-bottom: 0;
  margin-top: 11px;
}
@media (min-width: 1220px) {
  .page-news .breadcrumbs-list {
    margin-left: 0;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .page-news .breadcrumbs-list {
    display: none;
    margin-left: 0;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .page-news .breadcrumbs-list {
    padding-bottom: 0;
    margin-top: 25px;
    margin-left: 0;
  }
}
@media (max-width: 769px) {
  .page-news .breadcrumbs-list {
    display: none;
  }
}
@media (max-width: 769px) {
  .page-news .breadcrumbs-list .breadcrumbs-list {
    text-align: left;
  }
}
.page-article .breadcrumbs-list {
  margin-left: 265px;
  margin-bottom: 27px;
  padding-bottom: 0;
  margin-top: 11px;
}
@media (min-width: 1220px) {
  .page-article .breadcrumbs-list {
    margin-left: 0;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .page-article .breadcrumbs-list {
    margin-left: 295px;
    margin-bottom: 18px;
    margin-top: 33px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .page-article .breadcrumbs-list {
    margin-left: 0;
    margin-bottom: 27px;
    margin-top: 25px;
  }
}
@media (max-width: 769px) {
  .page-article .breadcrumbs-list {
    display: none;
  }
}
@media (max-width: 769px) {
  .page-article .breadcrumbs-list .breadcrumbs-list {
    text-align: left;
  }
}
.breadcrumbs {
  position: relative;
  z-index: 1;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .breadcrumbs {
    padding-bottom: 27px;
  }
}
@media (min-width: 1220px) {
  .breadcrumbs .width-wrap {
    text-align: left;
    width: 100%;
    padding-left: 30px;
    margin-left: 0;
  }
}
@media (min-width: 1400px)  {
  .breadcrumbs .width-wrap {
    padding-left: 90px !important;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .breadcrumbs .breadcrumbs-list {
    margin-left: 20px;
  }
}
@media (max-width: 769px) {
  .breadcrumbs .breadcrumbs-list {
    text-align: center;
    padding-top: 23px;
  }
}
.breadcrumbs .breadcrumbs-list .breadcrumbs-list__el {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-right: 17px;
}
.breadcrumbs .breadcrumbs-list .breadcrumbs-list__el a,
.breadcrumbs .breadcrumbs-list .breadcrumbs-list__el span {
  font-size: 13px;
  font-style: italic;
  color: #a6a8ab;
  font-weight: 400;
}
.breadcrumbs .breadcrumbs-list .breadcrumbs-list__el:after {
  position: absolute;
  content: '/';
  right: 6px;
  top: 1px;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-style: italic;
  color: #a6a8ab;
}
.breadcrumbs .breadcrumbs-list .breadcrumbs-list__el:last-child:after {
  content: '';
}
/* catalog */
.catalog {
  position: relative;
}
@media (max-width: 769px) {
  .catalog .width-wrap {
    min-width: 270px;
  }
}
.catalog h1 {
  display: none;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog h1 {
    display: none;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog h1 {
    display: block;
    font-size: 32px;
    color: #3e3e3e;
    font-weight: 300;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog .catalog-list {
    margin-top: 71px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list {
    margin-top: -15px;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list {
    padding: 0 20px;
  }
}
.catalog .catalog-list__el {
  display: block;
  margin-bottom: 147px;
  position: relative;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog .catalog-list__el {
    padding-left: 20px;
    margin-bottom: 124px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list__el {
    padding-bottom: 85px;
    margin-bottom: 0;
    margin-top: 55px;
    border-bottom: 1px solid #efefef;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el {
    margin-bottom: 40px;
    border-bottom: 1px solid #efefef;
  }
}
@media (min-width: 1220px) {
  .catalog .catalog-list__el .width-wrap {
    text-align: left;
    width: auto;
    padding-left: 345px;
    margin-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1400px)  {
  .catalog .catalog-list__el .width-wrap {
    padding-left: 405px;
    width: auto;
    padding-right: 0;
  }
}
.catalog .catalog-list__el .catalog-list__el__content {
  display: inline-block;
  vertical-align: top;
  width: 315px;
  text-align: left;
  height: 430px;
  position: relative;
}
@media (min-width: 1400px)  {
  .catalog .catalog-list__el .catalog-list__el__content {
    margin-left: -315px;
    position: absolute;
    bottom: 0;
    top: 0;
    height: auto;
  }
}
@media (min-width: 1220px) {
  .catalog .catalog-list__el .catalog-list__el__content {
    margin-left: -315px;
    position: absolute;
    bottom: 0;
    top: 0;
    height: auto;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog .catalog-list__el .catalog-list__el__content {
    width: auto;
    display: block;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list__el .catalog-list__el__content {
    width: auto;
    display: block;
    height: auto;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__content {
    width: auto;
    display: block;
    height: auto;
  }
}
.catalog .catalog-list__el .catalog-list__el__content .mobile-title {
  display: none;
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__content .mobile-title {
    display: block;
    margin: 0 40px 28px;
    background: #f0f0f0;
    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 20px;
    color: #3e3e3e;
    font-weight: 300;
    text-align: center;
  }
}
.catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-title {
  display: block;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 13px;
  color: #000000;
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-title {
    color: #fff;
  }
}
.catalog .catalog-list__el .catalog-list__el__content p {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
  color: #77787b;
  line-height: 18px;
  text-align: justify;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog .catalog-list__el .catalog-list__el__content p {
    padding-bottom: 14px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list__el .catalog-list__el__content p {
    padding-bottom: 18px;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__content p {
    color: #fff;
  }
}
.catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-more {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  display: block;
  margin-left: 2px;
  position: relative;
  margin-bottom: 40px;
  color: #000;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-more {
    margin-bottom: 50px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-more {
    margin-bottom: 386px;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-more {
    margin-bottom: 250px;
    color: #079ccc;
  }
}
.catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-more:after {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  content: ">";
  top: 0;
  margin-left: 3px;
}
.catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-news {
  padding-left: 33px;
  min-height: 18px;
  background: url(../img/icon--question.png) no-repeat 0 0;
  color: #00bbf7;
  font-size: 16px;
  font-style: italic;
  display: block;
  margin-bottom: 20px;
  font-weight: 300;
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-news {
    display: inline-block;
    vertical-align: top;
    margin-right: 70px;
    margin-bottom: 0;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-news {
    margin-left: 40px;
    margin-bottom: 22px;
  }
}
.catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-news:after {
  color: #00bbf7;
  font-size: 16px;
  font-style: italic;
  content: ">";
  top: 0;
  margin-left: 3px;
}
.catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-scype {
  padding-left: 33px;
  min-height: 18px;
  background: url(../img/icon--scype.png) no-repeat 0 0;
  font-size: 16px;
  font-style: italic;
  display: block;
  color: #00bbf7;
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-scype {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__content .catalog-list__el__content-scype {
    margin-left: 40px;
    margin-bottom: 40px;
  }
}
.catalog .catalog-list__el .catalog-list__el__content .page-slide {
  width: 240px;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog .catalog-list__el .catalog-list__el__content .page-slide {
    margin-top: 80px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list__el .catalog-list__el__content .page-slide {
    display: none;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__content .page-slide {
    display: none;
  }
}
.catalog .catalog-list__el .catalog-list__el__content .page-slide .page-slide__el {
  display: block;
  border: 1px solid #f0f0f0;
  margin-bottom: 1px;
}
.catalog .catalog-list__el .catalog-list__el__content .page-slide .page-slide__el a,
.catalog .catalog-list__el .catalog-list__el__content .page-slide .page-slide__el span {
  display: block;
  height: 33px;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
}
.catalog .catalog-list__el .catalog-list__el__content .page-slide .page-slide__el span {
  background: #f0f0f0;
  position: relative;
}
.catalog .catalog-list__el .catalog-list__el__content .page-slide .page-slide__el span:before {
  position: absolute;
  left: 25px;
  top: 13px;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background: #fff;
}
.catalog .catalog-list__el .catalog-list__el__slider {
  display: block;
  left: 50%;
  right: 0;
  height: 405px;
  position: absolute;
  top: 23px;
  margin-left: -209px;
  overflow: hidden;
}
@media (min-width: 1220px) {
  .catalog .catalog-list__el .catalog-list__el__slider {
    left: 0;
    top: 0;
    margin-left: 30px;
    display: block;
    vertical-align: top;
    position: relative;
    width: auto;
    height: auto;
  }
}
@media (min-width: 1400px)  {
  .catalog .catalog-list__el .catalog-list__el__slider {
    left: 0;
    margin-left: 30px;
    top: 0;
    display: block;
    vertical-align: top;
    position: relative;
    width: auto;
    height: auto;
  }
}
.catalog .catalog-list__el .catalog-list__el__slider .owl-carousel .owl-stage-outer {
  overflow: visible !important;
}
@media (min-width: 1220px) {
  .catalog .catalog-list__el .catalog-list__el__slider .owl-carousel .owl-stage-outer {
    overflow: hidden !important;
  }
}
@media (min-width: 1400px)  {
  .catalog .catalog-list__el .catalog-list__el__slider .owl-carousel .owl-stage-outer {
    overflow: hidden !important;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog .catalog-list__el .catalog-list__el__slider {
    height: 338px;
    margin-left: -148px;
    top: auto;
    bottom: 0;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list__el .catalog-list__el__slider {
    height: 318px;
    bottom: 145px;
    width: 550px;
    margin-left: -280px;
    top: auto;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__slider {
    left: 50%;
    right: 0;
    bottom: 125px;
    height: 205px;
    top: auto;
    width: 320px;
    margin-left: -160px;
  }
}
.catalog .catalog-list__el .catalog-list__el__slider .catalog-slider__el {
  width: 680px;
  position: relative;
}
@media (min-width: 1220px) {
  .catalog .catalog-list__el .catalog-list__el__slider .catalog-slider__el {
    width: auto;
  }
}
@media (min-width: 1400px)  {
  .catalog .catalog-list__el .catalog-list__el__slider .catalog-slider__el {
    width: auto;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog .catalog-list__el .catalog-list__el__slider .catalog-slider__el {
    width: 580px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list__el .catalog-list__el__slider .catalog-slider__el {
    width: 550px;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__slider .catalog-slider__el {
    width: 320px;
  }
}
.catalog .catalog-list__el .catalog-list__el__slider .trigger-next,
.catalog .catalog-list__el .catalog-list__el__slider .trigger-prev {
  width: 20px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  background: url("../img/sprite--arrow.png") no-repeat 0 0;
  top: 105px;
  right: 15px;
}
@media (min-width: 1220px) {
  .catalog .catalog-list__el .catalog-list__el__slider .trigger-next,
  .catalog .catalog-list__el .catalog-list__el__slider .trigger-prev {
    right: 11%;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__slider .trigger-next,
  .catalog .catalog-list__el .catalog-list__el__slider .trigger-prev {
    display: none;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog .catalog-list__el .catalog-list__el__slider .trigger-next,
  .catalog .catalog-list__el .catalog-list__el__slider .trigger-prev {
    right: 12px;
  }
}
.catalog .catalog-list__el .catalog-list__el__slider .trigger-next {
  background: url("../img/sprite--arrow.png") no-repeat -22px 0;
  top: 245px;
}
@media (min-width: 1220px) {
  .catalog .catalog-list__el .catalog-list__el__slider .trigger-next {
    right: 11%;
    top: 30%;
  }
}
@media (min-width: 1220px) {
  .catalog .catalog-list__el .catalog-list__el__slider .trigger-prev {
    right: 12%;
    top: 60%;
  }
}
@media (min-width: 1400px)  {
  .catalog .catalog-list__el .catalog-list__el__slider img {
    width: 80%;
    height: auto;
  }
}
@media (min-width: 1220px) {
  .catalog .catalog-list__el .catalog-list__el__slider img {
    width: 80%;
    height: auto;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog .catalog-list__el .catalog-list__el__slider img {
    height: 338px;
    width: 528px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list__el .catalog-list__el__slider img {
    height: 318px;
    width: 498px;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__slider img {
    width: 320px;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__slider .owl-nav {
    background: rgba(180, 180, 180, 0.3);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 45px;
  }
}
.catalog .catalog-list__el .catalog-list__el__slider .owl-nav div {
  width: 20px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  background: url("../img/sprite--arrow.png") no-repeat 0 0;
  top: 105px;
  left: 650px;
  display: none !important;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog .catalog-list__el .catalog-list__el__slider .owl-nav div {
    left: 548px;
    top: 70px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list__el .catalog-list__el__slider .owl-nav div {
    left: 535px;
    top: 60px;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__slider .owl-nav div {
    left: 12px;
    top: 20px;
    display: block !important;
  }
}
.catalog .catalog-list__el .catalog-list__el__slider .owl-nav div.owl-next {
  background: url("../img/sprite--arrow.png") no-repeat -22px 0;
  top: 245px;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .catalog .catalog-list__el .catalog-list__el__slider .owl-nav div.owl-next {
    top: 210px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .catalog .catalog-list__el .catalog-list__el__slider .owl-nav div.owl-next {
    top: 200px;
  }
}
@media (max-width: 769px) {
  .catalog .catalog-list__el .catalog-list__el__slider .owl-nav div.owl-next {
    top: 120px;
  }
}
/* footer */
@media (max-width: 969px) and (min-width: 770px) {
  .psevdofooter {
    display: none;
  }
}
@media (max-width: 769px) {
  .psevdofooter {
    height: 640px;
  }
}
.footer {
  border-top: 1px solid #585657;
}
@media (max-width: 969px) and (min-width: 770px) {
  .footer {
    display: none;
  }
}
@media (max-width: 769px) {
  .footer {
    display: none;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .footer .width-wrap {
    padding: 0 !important;
  }
}
@media (min-width: 1220px) {
  .footer .width-wrap {
    text-align: left;
    width: auto;
    padding-left: 30px;
    margin-left: 0;
    padding-right: 30px;
  }
}
@media (min-width: 1400px)  {
  .footer .width-wrap {
    padding-left: 90px;
  }
}
.footer .footer-title {
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 28px;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .footer .footer-title {
    font-size: 13px;
  }
}
.footer .footer-line {
  display: block;
  margin-bottom: 11px;
}
.footer .footer-line a,
.footer .footer-line span {
  font-weight: 400;
  font-size: 15px;
}
.footer .social {
  display: block;
  margin-top: 27px;
}
.footer .social a:nth-child(2) {
  display: inline-block;
  vertical-align: top;
  margin: 0 14px;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .footer .social a:nth-child(2) {
    margin: 0 9px;
  }
}
.footer .footer-contacts span.footer-line {
  line-height: 27px;
  margin-bottom: 3px;
}
.footer .footer-contacts .phone {
  white-space: nowrap;
}
.footer .footer-contacts .phone a {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .footer .footer-contacts .phone a {
    font-size: 14px;
  }
}
.footer .footer-contacts .phone a:last-child {
  padding-left: 4px;
}
.footer .footer-contacts .phone a:first-child {
  padding-right: 8px;
  border-right: 1px solid #585657;
}
.footer .footer-contacts .footer-call {
  border: 1px solid #c4c4c4;
  padding: 10px 0 12px 45px;
  background: url("../img/icon--phone.png") no-repeat 15px 50%;
  font-weight: 300;
  display: block;
  text-align: center;
  white-space: nowrap;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .footer .footer-contacts .footer-call {
    padding-left: 60px;
    letter-spacing: 0;
  }
}
.footer .width-wrap > div.footer-contacts {
  width: 280px;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .footer .width-wrap > div.footer-contacts {
    width: 270px;
  }
}
.footer .width-wrap > div.footer-copyright {
  margin-right: 70px;
}
@media (min-width: 1220px) {
  .footer .width-wrap > div.footer-copyright {
    margin-right: 0;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .footer .width-wrap > div.footer-copyright {
    width: 170px;
    margin-right: 0;
  }
}
.footer .width-wrap > div {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  padding-top: 53px;
}
@media (min-width: 1220px) {
  .footer .width-wrap > div {
    width: 19% !important;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .footer .width-wrap > div {
    width: 140px;
  }
}
.footer-mobile {
  display: none;
}
@media (max-width: 769px) {
  .footer-mobile {
    display: block;
    height: 640px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px;
    text-align: center;
    z-index: 5;
  }
}
.footer-mobile .footer-logo {
  width: 225px;
  height: 67px;
  display: block;
  margin: 38px auto 0;
}
.footer-mobile .footer-logo img {
  display: block;
}
.footer-mobile .footer-call {
  display: block;
  width: 268px;
  height: 31px;
  border: 1px solid #504c4c;
  background: url("../img/icon--phone-white.png") no-repeat 10px 50%;
  margin: 43px auto 0;
  line-height: 31px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}
.footer-mobile .footer-line {
  display: block;
  text-align: center;
  margin-bottom: 18px;
}
.footer-mobile .footer-line a,
.footer-mobile .footer-line span {
  color: #888686;
  font-weight: 400;
  display: block;
  text-align: center;
  font-size: 14px;
}
.footer-mobile .footer-line a {
  font-size: 17px;
  margin-bottom: 10px;
}
.footer-mobile .social {
  margin-top: 60px;
}
.footer-mobile .social a {
  margin: 0 5px;
}
.footer-mobile .js--page-slide {
  display: block;
  width: 46px;
  height: 46px;
  margin: 45px auto 0;
}
/* */
@media (min-width: 1220px) {
  .content .width-wrap {
    text-align: left;
    width: auto;
    margin-left: 0;
    padding-left: 275px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px)  {
  .content .width-wrap {
    padding-left: 90px !important;
  }
}
/* aside */
aside {
  display: inline-block;
  vertical-align: top;
  width: 240px;
}
@media (min-width: 1220px) {
  aside {
    margin-left: -245px;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  aside {
    width: 160px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  aside {
    display: none;
  }
}
@media (max-width: 769px) {
  aside {
    display: none;
  }
}
aside .aside-nav {
  display: block;
  margin-top: 30px;
}
@media (max-width: 1219px) and (min-width: 970px) {
  aside .aside-nav {
    margin-left: 10px;
    margin-top: 40px;
  }
}
aside .aside-nav .aside-nav__el {
  display: block;
  margin-bottom: 14px;
}
aside .aside-nav .aside-nav__el a,
aside .aside-nav .aside-nav__el span {
  font-size: 18px;
  font-weight: 300;
  color: #1e1e1e;
}
aside .aside-nav .aside-nav__el span {
  font-weight: 700;
}
/* acticle */
article {
  width: 825px;
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
}
@media (min-width: 1220px) {
  article {
    display: inline-block;
    margin-right: 0;
    width: auto;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  article {
    width: 750px;
    margin-right: 15px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  article {
    width: 630px;
  }
}
@media (max-width: 769px) {
  article {
    width: auto;
    padding: 43px 20px 0;
    display: block;
    margin-right: 0;
  }
}
article time {
  display: block;
  color: #77787b;
  font-size: 13px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
}
@media (max-width: 769px) {
  article time {
    display: none;
  }
}
article h1 {
  margin-bottom: 25px;
}
@media (max-width: 769px) {
  article h1 {
    color: #ffffff;
    font-weight: 300;
    font-size: 26px;
  }
}
article p {
  font-size: 16px;
  color: #77787b;
  line-height: 24px;
  margin-bottom: 30px;
}
@media (max-width: 769px) {
  article p {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
  }
}
article p.tab {
  text-indent: 20px;
}
article img {
  max-width: 530px;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}
@media (max-width: 1219px) and (min-width: 970px) {
  article img {
    max-width: 390px;
    margin-bottom: 10px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  article img {
    display: block;
    width: 100%;
    margin: 10px 0;
    float: none;
    max-width: none;
  }
}
@media (max-width: 769px) {
  article img {
    display: none;
  }
}
article img.ebushaja-zaglavnaya-nikomy-tut-nenuzhnaya-picha {
  display: none;
}
@media (max-width: 769px) {
  article img.ebushaja-zaglavnaya-nikomy-tut-nenuzhnaya-picha {
    display: block;
    width: 100%;
    margin: 10px 0;
    float: none;
    max-width: none;
  }
}
/* news */
@media (min-width: 1220px) {
  .news .width-wrap {
    text-align: left;
    width: auto;
    padding-left: 30px;
    margin-left: 0;
    padding-right: 30px;
  }
}
@media (min-width: 1400px)  {
  .news .width-wrap {
    padding-left: 90px;
  }
}
.news-list {
  margin-top: -5px;
  width: 1085px;
}
@media (min-width: 1220px) {
  .news-list {
    width: 100%;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .news-list {
    margin-left: 20px;
    width: 910px;
    margin-top: -20px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .news-list {
    width: 640px;
    margin-left: 0;
    margin-top: -55px;
  }
}
@media (max-width: 769px) {
  .news-list {
    display: block;
    width: auto;
    margin-left: 0;
    padding: 0 20px;
    margin-top: -30px;
  }
}
.news-list .news-list__el {
  display: block;
  padding-top: 66px;
  padding-bottom: 6px;
  border-bottom: 1px solid #a1a1a1;
}
@media (min-width: 1220px) {
  .news-list .news-list__el {
    width: auto;
    padding-left: 265px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .news-list .news-list__el {
    padding-bottom: 30px;
  }
}
.news-list .news-list__el h2 {
  margin-bottom: 9px;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .news-list .news-list__el h2 {
    margin-bottom: 13px;
  }
}
.news-list .news-list__el h2 a {
  display: block;
  font-size: 30px;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  color: #000000;
  text-transform: uppercase;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .news-list .news-list__el h2 a {
    font-size: 21px;
    margin-top: 9px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .news-list .news-list__el h2 a {
    font-size: 23px;
    margin-bottom: 26px;
  }
}
@media (max-width: 769px) {
  .news-list .news-list__el h2 a {
    color: #fff;
    font-size: 25px;
  }
}
.news-list .news-list__el h2.mobile-title {
  display: none;
}
@media (max-width: 969px) and (min-width: 770px) {
  .news-list .news-list__el h2.mobile-title {
    display: block;
  }
}
@media (max-width: 769px) {
  .news-list .news-list__el h2.mobile-title {
    display: block;
  }
}
.news-list .news-list__el h2.mobile-title a {
  display: block;
  font-size: 30px;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  color: #000000;
  text-transform: uppercase;
}
@media (max-width: 1219px) and (min-width: 970px) {
  .news-list .news-list__el h2.mobile-title a {
    font-size: 21px;
    margin-top: 9px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .news-list .news-list__el h2.mobile-title a {
    font-size: 23px;
  }
}
@media (max-width: 769px) {
  .news-list .news-list__el h2.mobile-title a {
    color: #fff;
    font-size: 20px;
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
}
.news-list .news-list__el .news-list__el-img {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  width: 223px;
}
@media (min-width: 1220px) {
  .news-list .news-list__el .news-list__el-img {
    margin-left: -265px;
  }
}
.news-list .news-list__el .news-list__el-img img {
  border: 1px solid #a1a1a1;
  width: 100%;
  height: auto;
}
@media (max-width: 969px) and (min-width: 770px) {
  .news-list .news-list__el .news-list__el-img {
    margin-right: 15px;
    margin-top: 6px;
  }
}
@media (max-width: 769px) {
  .news-list .news-list__el .news-list__el-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
.news-list .news-list__el .news-list__content {
  display: inline-block;
  vertical-align: top;
  width: 820px;
}
@media (min-width: 1220px) {
  .news-list .news-list__el .news-list__content {
    width: 100%;
  }
}
@media (max-width: 1219px) and (min-width: 970px) {
  .news-list .news-list__el .news-list__content {
    width: 645px;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .news-list .news-list__el .news-list__content {
    width: 400px;
  }
}
@media (max-width: 769px) {
  .news-list .news-list__el .news-list__content {
    width: auto;
    display: block;
  }
}
@media (max-width: 969px) and (min-width: 770px) {
  .news-list .news-list__el .news-list__content h2 {
    display: none;
  }
}
@media (max-width: 769px) {
  .news-list .news-list__el .news-list__content h2 {
    display: none;
  }
}
.news-list .news-list__el .news-list__content p {
  line-height: 24px;
  color: #77787b;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
}
@media (max-width: 769px) {
  .news-list .news-list__el .news-list__content p {
    color: #fff;
    font-weight: 300;
  }
}
.news-list .news-list__el .news-list__content .news-list__content-info time {
  display: inline-block;
  vertical-align: top;
  color: #77787b;
  font-size: 13px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
}
.news-list .news-list__el .news-list__content .news-list__content-info .news-list__content-more {
  display: inline-block;
  vertical-align: top;
  color: #2ec1fe;
  font-size: 12px;
  text-transform: uppercase;
  padding-right: 15px;
  position: relative;
}
.news-list .news-list__el .news-list__content .news-list__content-info .news-list__content-more:after {
  position: absolute;
  content: ">";
  right: 0;
}
.pagination {
  display: block;
  margin-top: 60px;
  margin-bottom: 90px;
}
@media (max-width: 969px) and (min-width: 770px) {
  .pagination {
    margin-top: 35px;
    margin-bottom: 40px;
  }
}
@media (max-width: 769px) {
  .pagination {
    margin: 45px 0 0;
    padding-bottom: 45px;
    text-align: center;
    border-bottom: 1px solid #3b3a3b;
  }
}
.pagination .pagination__el {
  display: inline-block;
  vertical-align: top;
  margin-right: 36px;
}
@media (max-width: 969px) and (min-width: 770px) {
  .pagination .pagination__el {
    margin-right: 24px;
  }
}
@media (max-width: 769px) {
  .pagination .pagination__el {
    margin-right: 15px;
  }
}
.pagination .pagination__el a,
.pagination .pagination__el span {
  display: inline-block;
  vertical-align: top;
  font-size: 56px;
  line-height: 40px;
  color: #414141;
  font-weight: 300;
}
@media (max-width: 969px) and (min-width: 770px) {
  .pagination .pagination__el a,
  .pagination .pagination__el span {
    font-size: 38px;
  }
}
@media (max-width: 769px) {
  .pagination .pagination__el a,
  .pagination .pagination__el span {
    font-size: 30px;
  }
}
.pagination .pagination__el span {
  color: #2ec1fe;
}
/* left-menu */
.left-menu {
  display: none;
  z-index: 3;
}
.left-menu .left-menu__top {
  position: fixed;
  top: 0;
  border-bottom: 1px solid #dfdfdf;
  left: 0;
  width: 67px;
  height: 126px;
}
.left-menu .left-menu__top .logo {
  display: block;
  margin-left: 8px;
  margin-top: 16px;
  width: 49px;
  height: 15px;
  cursor: pointer;
}
.left-menu .left-menu__top .logo img {
  width: 49px;
  height: 15px;
}
.left-menu .left-menu__top .show-menu {
  display: block;
  margin-top: 24px;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  background: #ffffff url(../img/arrow-right.png) no-repeat 50% 50%;
}
.left-menu .left-menu__bottom {
  position: fixed;
  bottom: 0;
  border-top: 2px solid #b4b4b5;
  left: 0;
  width: 67px;
  height: 198px;
  padding-top: 21px;
}
.left-menu .left-menu__bottom .social {
  margin-left: 10px;
}
.left-menu .left-menu__bottom .social a {
  display: block;
  width: 49px;
  height: 49px;
  margin-bottom: 11px;
}
@media (max-width: 969px) and (min-width: 770px) {
  .left-menu {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #e8e8e8;
    width: 67px;
  }
}
/* left-menu-opened */
.left-menu-opened {
  z-index: 5;
  margin-left: -310px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #e8e8e8;
  width: 305px;
  border-right: 2px solid #b4b4b5;
  box-shadow: 0 0 3px #d6d6d6;
  overflow: hidden;
}
.left-menu-opened .top {
  height: 87px;
  padding-top: 28px;
  padding-left: 37px;
  display: block;
  border-bottom: 1px solid #dfdfdf;
}
.left-menu-opened .top .logo {
  display: inline-block;
  vertical-align: top;
  width: 168px;
  height: 50px;
  margin-right: 40px;
}
.left-menu-opened .top .hide-menu {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  background: #ffffff url(../img/arrow-left.png) no-repeat 50% 50%;
}
.left-menu-opened .main-nav {
  display: block;
  padding-top: 0;
  width: 305px;
}
.left-menu-opened .main-nav .main-nav__el {
  display: block;
  padding: 18px 25px 14px;
  margin-right: 0;
}
.left-menu-opened .main-nav .main-nav__el a,
.left-menu-opened .main-nav .main-nav__el span {
  font-size: 20px;
  color: #221f1f;
  font-weight: 300;
  padding: 0;
  border: none;
  line-height: 20px;
}
.left-menu-opened .main-nav .main-nav__el .main-nav-hidden {
  position: relative;
  left: -25px;
  width: 305px;
  border: none;
}
.left-menu-opened .main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el {
  border: none;
  background: none;
  display: block;
  padding: 4px 25px 2px;
}
.left-menu-opened .main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el a,
.left-menu-opened .main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el span {
  font-size: 16px;
  color: #221f1f;
  font-weight: 300;
  padding: 0;
  border: none;
  background: none;
  padding-left: 15px;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 969px) and (min-width: 770px) {
  .left-menu-opened .main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el a:active {
    text-decoration: underline;
  }
}
@media (max-width: 769px) {
  .left-menu-opened .main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el a:active {
    text-decoration: underline;
  }
}
.left-menu-opened .main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el a:before,
.left-menu-opened .main-nav .main-nav__el .main-nav-hidden .main-nav-hidden__el span:before {
  position: absolute;
  content: '-';
  font-size: 20px;
  color: #221f1f;
  font-weight: 300;
  top: 0;
  left: 0;
}
.left-menu-opened .main-nav .main-nav__el.has-hidden {
  background: url("../img/arrow-bottom.png") no-repeat 95% 25px;
}
.left-menu-opened .main-nav .main-nav__el:hover {
  background: #f8f8f8;
}
.left-menu-opened .main-nav .main-nav__el:hover .main-nav-hidden {
  margin-top: 33px;
}
.left-menu-opened .main-nav .main-nav__el:hover .main-nav-hidden .main-nav-hidden__el {
  background: #f8f8f8;
}
.left-menu-opened .main-nav .main-nav__el:hover .main-nav-hidden .main-nav-hidden__el .main-nav-hidden {
  left: -5px;
  margin-top: 15px;
}
.left-menu-opened .main-nav .main-nav__el.has-hidden:hover {
  background: #f8f8f8 url("../img/arrow-bottom.png") no-repeat 95% 25px;
}
.left-menu-opened .header--phone {
  display: inline-block;
  vertical-align: top;
  margin-top: 75px;
  margin-left: 25px;
  font-size: 21px;
  letter-spacing: 2px;
  color: #221f1f;
}
.left-menu-opened .header--search {
  margin-top: 90px;
}
.left-menu-opened .header--search .header--search-input {
  display: inline-block;
  vertical-align: top;
  margin-left: 32px;
  background: #f4f4f4;
  border: 1px solid #b5b5b5;
  width: 166px;
  height: 31px;
  line-height: 31px;
  color: #b5b5b5;
  font-size: 16px;
  padding-left: 17px;
  font-weight: 400;
}
.left-menu-opened .header--search .search-submit {
  display: inline-block;
  vertical-align: top;
  background: #eaeaea url(../img/icon--zoom.png) no-repeat 50%;
  cursor: pointer;
  margin-left: 10px;
  width: 39px;
  height: 35px;
  border: 1px solid #dfdfdf;
}
/* form */
.form-wrap {
  width: 360px;
}
@media (max-width: 769px) {
  .form-wrap {
    width: 250px;
  }
}
.form-wrap h2 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 300;
}
@media (max-width: 769px) {
  .form-wrap h2 {
    font-size: 20px;
  }
}
.form-wrap label {
  display: block;
  margin-bottom: 20px;
}
.form-wrap label span {
  display: block;
  text-align: left;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 300;
  padding-left: 30px;
}
.form-wrap label .form-input {
  width: 325px;
  padding-left: 30px;
  height: 36px;
  line-height: 40px;
  border: 1px solid #ffffff;
  background: rgba(13, 12, 12, 0.6);
  font-size: 16px;
  color: #fff;
}
@media (max-width: 769px) {
  .form-wrap label .form-input {
    width: 195px;
  }
}
.form-wrap .button {
  background: #d4d3d3;
  border: none;
  outline: none;
  display: block;
  width: 210px;
  height: 40px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 300;
  text-align: center;
  line-height: 40px;
  margin: 30px auto 0;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
}
@media (max-width: 769px) {
  .form-wrap .button {
    width: 190px;
    margin-left: 20px;
    overflow: hidden;
  }
}
