/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    font: inherit;
    vertical-align: baseline;
    box-sizing:content-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    position: relative;
    min-height: 100%;
}
html{
    height: 100%;
    min-height: 700px;
}
html, body{
    width:100%;
}

.psevdofooter{
    height: 310px;
}
.footer{
    height: 309px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
/* отступы между горизонтальными li*/

ol, ul, .grid{
    list-style: none;
    font-size:0; /* убираем горизонтальные отступы */
    line-height:0; /* ...и вертикальные в некоторых браузерах */
    letter-spacing:-1px; /* переубеждаем webkit'ы */
}

li, .grid-item{
    line-height:normal;
    letter-spacing:normal;
    display:inline-block;
    vertical-align: top;
    zoom:1;
}

/* // отступы между горизонтальными li*/
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, input {
    outline: none;
}

b, strong{
    font-weight: bold;
}

.flex-start{
    display: flex !important;
    display: -ms-flex !important;
    display: -webkit-flex !important;
    justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
}


.flex-between{
    display: flex !important;
    display: -ms-flex !important;
    display: -webkit-flex !important;
    justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
}

.flex-center{
    display: flex !important;
    display: -ms-flex !important;
    display: -webkit-flex !important;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
}

.flex-left{
    display: flex !important;
    display: -ms-flex !important;
    display: -webkit-flex !important;
    justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.flex-top{
    align-items: flex-start;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
}

.flex-vertical{
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
}

.flex-stretch{
    align-items: stretch;
    -ms-align-items: stretch;
    -webkit-align-items: stretch;
}


/* знак рубля */

.price-rouble:after{
    font-family: 'PT Sans', sans-serif;
    content: " \20B7";
    margin-top: 1px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}

.justifyed {
    text-align: justify;
    margin-bottom: -1em;
}

.justifyed:after{
    display: inline-block;
    content: '';
    width: 100%;
}
