<div class="form-wrap">
    <form action="" method="post"  class="main-form">
        <h2>Обратный звонок</h2>
        <label>
            <span>имя</span>
            <input type="text" name="name" class="form-input required" />

        </label>
        <label>
            <span>Ваш телефон</span>
            <input type="text" name="phone" class="form-input required input-phone" />
        </label>
        <input type="submit" value="Отправить" class="button js-form-submit">
    </form>
</div>
<script type="text/javascript">
    $('.input-phone').mask('+7(999)999-99-99');
</script>